body{
    background-color: lightgray;
    /*font-family: Arial;*/
    font-family: Book Antiqua, sans-serif;
}

.Title{
    height: 400px;


    border-bottom: 5px solid #66512c;
}

.NavBarRoot{
    background-color: #dac4ae;
    color: #3d5d1a;
    border-bottom: 5px solid #4f8d5a;
    font-family: BlackChancery, Book Antiqua, sans-serif;
    font-size: larger;
}

.NavBarImage{
    background-image: url("../Images/FC Vaandel.png");
    height: 138px;
    width: 78px;
}

.dropdown-menu {
    background-color: #222222;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu li:hover {
    color: #764e9b;
    font-weight: bolder;
}



.NavBarMenu li:hover {
    color: #764e9b;
    font-weight: bolder;
    border-bottom: 4px solid #f6f1b9;
}

.NavBarMenu li a{
    text-decoration: none;
    color: #3d5d1a;
}

.dropdown-menu li {
    color: #3d5d1a;
    background-color: #dac4ae;
    font-weight: normal;
}


.MainContentBackground_left, .MainContentBackground_right {
    background-size: 50px 91px;
    background-repeat: repeat-y;
    background-position: center;
    max-width: 60px;
    background-color: #66512caa;
}

.MainContentBackground_right{
    background-image: url("../Images/Edge.png");
}

.MainContentBackground_left{
    background-image: url("../Images/Edge180.png");
}


.MainContentBackground_mid {
    background-color: #ffffff55;
}

.Main{
    /*background-color: #2b542c;*/
    background-image: url("../Images/Paperback.jpg");
    background-position: center;
    background-attachment: fixed;
}

h1, h2{
    font-family: "Old London";
}


.FooterContent{

    border-top: 5px solid #66512c;
}

.Footer_titel{
    color: #66512c;
}

a{
    color: #7651a0;
    text-decoration: underline;
}


.additionInfoBlock{
    text-align: center;
    font-weight: bolder;
    width: 230px;

    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 3px 10px 3px;
    border-color: #527437;
    padding: 20px 10px 30px 10px;
}
.hanger{
    position: relative;
    z-index: -3;
    top: 10px;
    width: 210px;
    height: 50px;

    background: url(../Images/hanger.svg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.additionInfo{
    position: relative;
    top: -70px;
}

@media (max-width: 1300px){
    .hanger, .additionInfoBlock {
        display: none;}
}
