{{ with .Resources.GetMatch "preview"}}
<div class="btn btn-fc event-item-lg-free"
    style="left: {{ .Params.categoryX }};
        top: {{ .Params.categoryY }};
        width: {{ .Params.categoryWidth }};"
    >
    <a href="{{ $.Permalink }}">
        <img src="{{ .Permalink }}" alt="{{ .Title }}"
            style="height: {{ .Params.categoryHeight }};"
        >
        <span class="item-title">
            {{ if $.Scratch.Get "back-btn" }}
                <span class="back-btn" aria-hidden="true"></span>
            {{ end }}
            {{ $.Scratch.Get "title" }}
        </span>
    </a>
</div>



{{ end }}

