<div class="d-flex flex-wrap">
    <div class="col-4 p-2">
        <a href="/fc-2022-muziek.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
            <img src="/fc-2022-muziek.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-4 p-2">
        <a href="/fc-2018-boogschieten.png" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
            <img src="/fc-2018-boogschieten.png" class="img-fluid" />
        </a>
    </div>

    <div class="col-4 p-2">
        <a href="/fc-2022-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
            <img src="/fc-2022-workshop.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-4 p-2">
        <a href="/fc-2022-muziek.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
            <img src="/fc-2022-muziek.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-4 p-2">
        <a href="/fc-2018-boogschieten.png" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
            <img src="/fc-2018-boogschieten.png" class="img-fluid" />
        </a>
    </div>

    <div class="col-4 p-2">
        <a href="/fc-2022-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
            <img src="/fc-2022-workshop.jpg" class="img-fluid" />
        </a>
    </div>

</div>
<!--
<div class="container">
    <div class="row">
        <div class="col-4 p-2">
            <a href="/fc-2022-muziek.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
                <img src="/fc-2022-muziek.jpg" class="img-fluid" />
            </a>
        </div>

        <div class="col-4 p-2">
            <a href="/fc-2018-boogschieten.png" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
                <img src="/fc-2018-boogschieten.png" class="img-fluid" />
            </a>
        </div>

        <div class="col-4 p-2">
            <a href="/fc-2022-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block">
                <img src="/fc-2022-workshop.jpg" class="w-100 rounded-2" />
            </a>
        </div>
    </div> -->

    <!-- <div class="row">
	<a href="/fc-2022-muziek.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="/fc-2022-muziek.jpg" class="img-fluid">
	</a>
	<a href="/fc-2022-balfolk.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="/fc-2022-balfolk.jpg" class="img-fluid">
	</a>
	<a href="/fc-2022-workshop.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="/fc-2022-workshop.jpg" class="img-fluid">
	</a>
</div>
<div class="row">
	<a href="/fc-2022-staal.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="/fc-2022-staal.jpg" class="img-fluid">
	</a>
	<a href="fc-2018-boogschieten.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="fc-2018-boogschieten.png" class="img-fluid">
	</a>
	<a href="/fc-2022-veld.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="/fc-2022-veld.jpg" class="img-fluid">
	</a>
</div> -->
<!-- </div> -->


