<div class="d-flex flex-wrap align-items-end">
{{ $file := "fantasy-court/gallery.yaml" }}
{{ $category := .Get 0 }}
{{ with resources.Get $file }}
    {{ with . | transform.Unmarshal }}
        {{ $images := index .gallery_images $category }}
        {{ if not $images }}
            {{ errorf "The %q shortcode was unable to find category <%s> in %s. See %s" $.Name $category $file $.Position }}
        {{ end }}
        {{ range $i, $img := $images }}
            {{ if not $img.src }}
                {{ errorf "src attribute should be defined for element %d in category %s (%s). See %s" $i $category $file $.Position }}
            {{ end }}
            {{ $img_title := or (index $img (printf "title-%s" $.Site.Language.Lang) ) $img.title }}
            {{ $img_title2 := cond (not $img.year) $img_title (printf "%s (%d)" $img_title $img.year) }}
            {{ $img_caption := or (index $img (printf "caption-%s" $.Site.Language.Lang) ) $img.caption }}
            {{ $img_copyright := or (index $img (printf "copyright-%s" $.Site.Language.Lang) ) $img.copyright }}
            <div class="col-sm-12 col-md-4 p-2">
                <a href="{{ $img.src }}" data-bs-toggle="lightbox" data-bs-gallery="{{ $.Get 1 }}" class="d-block text-center"
                        data-bs-title='{{ $img_title2 }}' data-bs-caption="{{ $img_caption }}" data-bs-copyright="{{ $img_copyright }}">
                    <img src="{{ $img.src }}" class="img-fluid object-fit-contain" style="max-height: 200px;" />
                </a>
            </div>
        {{ end }}
    {{ end }}
{{ else }}
    {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
{{ end }}
</div>

<!-- <div class="d-flex flex-wrap align-items-center">
    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-muziek.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title" data-bs-caption="Caption" data-bs-copyright="photographername 2024">
            <img src="/fc-2022-muziek.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2018-boogschieten.png" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title">
            <img src="/fc-2018-boogschieten.png" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-caption="Caption">
            <img src="/fc-2022-workshop.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-crew.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title" data-bs-caption="Caption" data-bs-copyright="photographername 2024">
            <img src="/fc-2022-crew.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-kleerhaak-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title">
            <img src="/fc-2022-kleerhaak-workshop.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-staal.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-caption="Caption">
            <img src="/fc-2022-staal.jpg" class="img-fluid" />
        </a>
    </div>
</div> -->
