<div class="d-flex flex-wrap align-items-center">
    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-muziek.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title" data-bs-caption="Caption" data-bs-copyright="photographername 2024">
            <img src="/fc-2022-muziek.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2018-boogschieten.png" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title">
            <img src="/fc-2018-boogschieten.png" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-caption="Caption">
            <img src="/fc-2022-workshop.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-crew.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title" data-bs-caption="Caption" data-bs-copyright="photographername 2024">
            <img src="/fc-2022-crew.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-kleerhaak-workshop.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-title="Title">
            <img src="/fc-2022-kleerhaak-workshop.jpg" class="img-fluid" />
        </a>
    </div>

    <div class="col-sm-12 col-md-4 p-2">
        <a href="/fc-2022-staal.jpg" data-bs-toggle="lightbox" data-bs-gallery="example" class="d-block"
                data-bs-caption="Caption">
            <img src="/fc-2022-staal.jpg" class="img-fluid" />
        </a>
    </div>

</div>
