aside {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;

  * {
    max-width: 100%;
  }

  > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  // Screen is big enough for content to float (tablet)
  @media screen and (min-width: 1.75*$mobileWidth) {
    &.right {
      float: right
    }

    &.left {
      float: left
    }
  }

  // Screen is big enough to appear as content on the side (pc)
  @media screen and (min-width: $containerWidth + $bannerWidth*3) {
    display: block;
    float: none;
    position: absolute;

    &.right {
      right: -20vw;
    }

    &.left {
      left: -25vw;
    }
  }
}
