// Sets up the basics of the website such as fonts and colors

@font-face {
  font-family: 'BlackChancery';
  src: url(/fonts/BLKCHCRY.TTF);
}

@font-face {
  font-family: 'Old London';
  src: url(/fonts/OLDLONDON.TTF);
}

body, html {
  font-family: 'Book Antiqua', 'sans-serif';
  background-color: $backgroundColour;
  color: $textColor;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/paperback.jpg');
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3, a, .dropdown {
  font-family: 'BlackChancery', 'serif';
}

h1 {
  margin-bottom: 0px;
  @media screen and (min-width: $mobileWidth) {
    font-size: 2.75em;
  }
}

h2 {
  margin-bottom: 0px;
  @media screen and (min-width: $mobileWidth) {
    font-size: 2em;
  }
}

ul {
  margin-top: -20px;
}
