.header-element {
  border-bottom: 3px solid $borderColour;
  width: 100%;
}

.header-image {
  @extend .header-element;

  overflow: hidden;

  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;

  height: 150px;

  @media screen and (min-width: $containerWidth) {
    height: 350px;
  }
}

.content {
  padding-left: $mobileContainerPadding;
  padding-right: $mobileContainerPadding;

  @media screen and (min-width: $mobileWidth) {
    padding-left: $containerPadding;
    padding-right: $containerPadding;
  }
  padding-top: $containerPadding/2;
  padding-bottom: $containerPadding/2;

  overflow-wrap: anywhere;
  word-wrap: break-word;
  max-width: $containerWidth;
  margin: auto;
}
