.header-element {
  width: 100%;
}

.header-image {
  @extend .header-element;
  
  .background {
    
    border-bottom: 3px solid $borderColour;
    overflow: hidden;

    background-size: cover;
    background-origin: content-box;
    background-repeat: no-repeat;

    width: 100vw;
    position: absolute;
  }
  
  .logo {
    position: absolute;
    display: block;
    padding-top: 1%;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    img {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 70vh;
      @media screen and (max-width: $containerWidth) {
        height: auto;
        width: 100%;
      }
      filter: drop-shadow(3px 3px 1px #000000);
    }
    h1 {
      font-size: 5em;
      color: white;
      text-shadow: 3px 3px 1px black;
    }
  }
}

.content {
  padding-left: $mobileContainerPadding;
  padding-right: $mobileContainerPadding;

  @media screen and (min-width: $mobileWidth) {
    padding-left: $containerPadding;
    padding-right: $containerPadding;
  }
  padding-top: $containerPadding/2;
  padding-bottom: $containerPadding/2;

  overflow-wrap: anywhere;
  word-wrap: break-word;
  max-width: $containerWidth;
  margin: auto;
}

.back-btn {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-image: url("/images/back.svg");
}
