$backgroundColour: #ceb29a;
$textColor: #222;
$backgroundColourInverted: #362d1d;
$textColorInverted: #f1f1f1;

$contentColour: #e4d1b4d8;
$borderColour: #886d3d;

$mobileWidth: 380px;
$mobileContainerPadding: 10px;
$mobileNavbarHeight: 45px;

$containerWidth: 1000px;
$containerPadding: 65px;

$navbarHeight: 70px;
$fancyEdgeWidth: 50px;

$bannerBorderColor: #c69838;
$bannerWidth: 240px;

$factoidBorderColor: #c69838;
$factoidWidth: 300px;

$eventBlockBackgroundColor: #ffffff99;
