$backgroundColour: #ceb29a;
$textColor: #222;
$backgroundColourInverted: #362d1d;
$textColorInverted: #f1f1f1;

$contentColour: #e4d1b4d8;
$borderColour: #886d3d;

$mobileWidth: 380px;
$mobileContainerPadding: 10px;
$mobileNavbarHeight: 45px;

$containerWidth: 800px;
$containerPadding: 65px;

$navbarHeight: 70px;
$fancyEdgeWidth: 50px;

$bannerBorderColor: #c69838;
$bannerWidth: 240px;

$factoidBorderColor: #c69838;
$factoidWidth: 300px;

$eventBlockBackgroundColor: #ffffff99;

// Bootstrap: https://getbootstrap.com/docs/5.0/layout/breakpoints/#available-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
