.fancy-edge {
    background-color: $contentColour;
    position: relative;

    @media screen and (min-width: $containerWidth) {
        .content-side {
            background-image: url(../images/fancy-edge.png);
            background-size: contain;
            background-repeat: repeat-y;
            background-position: center;
            width: $fancyEdgeWidth;
            background-color: $borderColour;
            position: absolute;
            background-origin: content-box;
            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
            top: 0;
            bottom: 0;

            &-left {
                @extend .content-side;
                transform: scaleX(-1);

                left: -$fancyEdgeWidth;
            }

            &-right {
                @extend .content-side;
                right: -$fancyEdgeWidth;
            }
        }
    }
}
