.post-list {
  background-color: lighten($backgroundColourInverted, 5);
  color: darken($textColorInverted, 5);

  width: 100%;
  position: relative;
  left: 50%;
  margin-left: -50vw;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 40px 0;

  .inner {
    width: $containerWidth;
  }

  a {
    color: darken($textColorInverted, 5);
  }
}
