$backgroundColour: #ceb29a;
$textColor: #222;
$backgroundColourInverted: #222222;
$textColorInverted: #f1f1f1;

$contentColour: #ffffff55;
$borderColour: #886d3d;

$mobileWidth: 380px;
$containerWidth: 800px;
$containerPadding: 65px;

$navbarHeight: 70px;

$bannerBorderColor: #c69838;
$bannerWidth: 240px;
