<div class="header-image" style='
    height: {{ $.Param "header-image.height" }}'>
    <div class="background" style='
        height: {{ $.Param "header-image.height" }};
        background-image: url({{ $.Param "header-image.url" }});
        background-position: {{ $.Param "header-image.position-x" }} {{ $.Param "header-image.position-y" }};
        background-height: url({{ $.Param "header-image.height" }});
        background-origin: content-box;
        ' role="img" aria-label='{{ $.Param "header-image.alt" }}'>

        <div class="logo" {{ $.Param "header-image.visibility" }}>
            <img src= "/images/Fc_letterlogo_myrna-v2.png" alt="FC Logo">
                <h1>{{ i18n "header_date" }}</h1>
        </div>
    </div>
</div>
