<div id="nav">
    <div id="nav-offset"></div>
    <nav id="nav-bar">
        <img class="nav-banner" src="/images/FC_vaandel.png" alt="Fantasy Court Banner"/>

        <!-- Hamburger -->
        <a href="javascript:void(0);" aria-label="Toggle Navigation" class="hamburger icon" onclick="toggleNavigation()">
            <i class="fa fa-bars"></i>
        </a>

        <!-- Navigation -->
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
        <div class ="nav-item">
        <a href="{{ .URL | relLangURL }}"
        class='{{ if (eq $currentPage.RelPermalink (.URL | relLangURL)) }}is-active{{end}}'>{{.Title}}</a>
        {{ with .Children }}
                <div class="dropdown">
                <div class="submenu">
                    {{ range . }}
                    <a href="{{ .URL | relLangURL }}"
                    class='{{ if (eq $currentPage.RelPermalink (.URL | relLangURL)) }}is-active{{end}}'>{{ .Title }}</a>
                    {{ end }}
                </div>
                </div>
            {{ end }}
        </div>
        {{- end }}

        <div class="verticalLine">
        </div>

        <!-- Language Options -->
        <div id="languagebox">
            {{- $currentLanguage := .Lang -}}
            {{ range .AllTranslations }}
                <a href="{{ .RelPermalink }}"
                    class="{{ if (eq .Lang $currentLanguage) }}is-active{{end}}">
                        {{ default .Lang .Language.LanguageName }}
                </a>
            {{ end }}
        </div>
    </nav>
</div>
