

.header-stand {
    @extend .header-event;

    height: initial;

    #stand-siblings {
        height: 100%;

        .stand-element {
            list-style: none;
            margin: 10px 0px;

            > .btn {
                width: 100%;
                text-align: start;
            }

            > .btn-light {
                background-color: $contentColour;
                border-color: $borderColour;
                color: $textColor;

                &:hover {
                    background-color: darken($contentColour, 15%);
                }
            }

            > .btn-secondary {
                pointer-events: none;
                opacity: 0.85;
            }

            img {
                height: 60px;
                width: 60px;
                object-fit: contain;
                margin-right: 10px;
            }
        }
    }
}

.header-event-category {
    @extend .header-event;

    height: 500px;
}

.header-event {
    @extend .header-image;

    padding: 20px 0px 5px 0px;

    .title {
        font-weight: bold;
        font-size: x-large;
        vertical-align: middle;
    }

    #stand-category-title {
        margin-top: 10px;
        font-size: x-large;
        vertical-align: middle;
    }
}

.stand-category-v2 {
    padding: 15px 5px;
    border-radius: .25rem;
    text-align: center;
    border: 4px solid $borderColour;
    background-color: $contentColour;
    color: $textColor;

    &:hover {
        background-color: darken($contentColour, 15%);
    }

    p {
        margin-bottom: 0px;
        font-weight: bold;
        font-size: large;
    }

    img {
        width: 100%;
        height: 200px;
        padding-left: 25px;
        padding-right: 25px;
        object-fit: contain;
    }

    a {
        // Remove standard link colour and underline
        color: $textColor;
        text-decoration: none;
    }

    // Back to XYZ buttons with a fixed width, appearing at a fixed location
    &-fixed {
        @extend .stand-category-v2;
        width: 400px;
        margin: 0px auto;
    }

    // Individual category/stand buttons with a variable width, which can overlap
    &-free {
        @extend .stand-category-v2;
        position: absolute;
    }
}
