.header-event {
    @extend .header-image;

    padding: 0px 0px 5px 0px;

    #event-item-list > ul {
        margin-bottom: 0px;
    }

    // Category Page
    &-category {
        @extend .header-event;
        height: 500px;
    }

    // Specific Stand Page
    &-stand {
        @extend .header-event;
        height: initial;
    }
}

.event-item {
    // Category Name/"Back to X"
    .item-title {
        font-weight: bold;
        font-size: large;

        // Larger than mobile screens
        @media screen and (min-width: $containerWidth) {
            font-size: x-large;
        }
    }

    // Button is disabled
    .btn-secondary {
        pointer-events: none;
        opacity: 0.85;
    }

    // List variant
    &-li {
        @extend .event-item;
        list-style: none;
        padding-bottom: 10px;

        @media screen and (max-width: $containerWidth) {
            // Smaller vertical padding on small screens
            padding-bottom: 5px;
        }

        // Take up the entire width, and align text to the left
        > .btn {
            display: flex;
            align-items: center;
            width: 100%;
            text-align: start;
            border-width: 4px;
        }

        // Small preview image
        img {
            height: 60px;
            width: 60px;
            object-fit: contain;
        }

        // Vendor name
        .item-title {
            margin-left: 20px;
        }
    }

    // Large block
    &-lg {
        @extend .event-item;
        padding: 15px 5px;

        > .btn-fc {
            border-width: 4px;
        }

        img {
            width: 100%;
            height: 60px;
            padding-left: 25px;
            padding-right: 25px;
            object-fit: contain;

            // Larger than mobile screens
            @media screen and (min-width: $containerWidth) {
                height: 160px;
            }
        }

        // Back to XYZ buttons with a fixed width, appearing at a fixed location
        &-fixed {
            @extend .event-item-lg;
            max-width: 360px;
            margin: 0px auto;

            display: block;
        }

        &-nolink {
            @extend .event-item-lg-fixed;

            .fc-block {
                background-color: darken($eventBlockBackgroundColor, 30%);
                border-color: darken($borderColour, 15%);
                cursor: inherit;
            }
        }

        // Individual category/stand buttons with a variable width, which can overlap
        &-free {
            @extend .event-item-lg;
            position: absolute;
        }
    }
}
