///////////////////////////////////////////////////////////////////
// Carrousel
#carouselStand {
    // Add a small border
    border: 1px solid $borderColour;
    margin-bottom: 20px;

    // Fill empty space with another colour
    .carousel-item {
        background-color: $textColor;
    }

    // Ensure that all Carousel images have the same dimensions
    .carousel-item > img {
        height: 400px;
        width: 100%;
        margin: auto;
        object-fit: contain;
    }
}

///////////////////////////////////////////////////////////////////
// Images
.stand-image {
    margin-top: 5px;
    margin-bottom: 5px;

    &-left {
        float: left;
        margin-right: 10px;
    }

    &-right {
        float: right;
        margin-left: 10px;
    }
}
