{{ define "navbar" }}
    <!-- Get rid of the navbar -->
{{ end }}

{{ define "header-element" }}
    <!-- Get rid of the header image, and replace it by the stand-category urls -->
    <div class="header-stand" style='
        background-image: url({{ $.Param "header-image.url" }});
        background-position: {{ $.Param "header-image.position-x" }} {{ $.Param "header-image.position-y" }};
        ' role="img" aria-label='{{ $.Param "header-image.alt" }}'>

        {{ with .CurrentSection }}
          <div id="stand-siblings" class="container">
            <div class="row">
              <div class="col-sm">
                <!-- Back to Category Page -->
                <div class="stand-category-v2-fixed">
                  <a class="" href="{{ .Permalink }}">
                      {{ with .Resources.GetMatch "preview"}}
                        <img alt="{{ .Title }}"
                                src="{{ .Permalink }}"/>
                      {{ end }}
                      <p><span class="back-btn" aria-hidden="true"></span> Terug naar {{ .Title }}</p>
                  </a>
                </div>
              </div>
              <div class="col-sm">
                {{ with $.Site.GetPage "event-2021" }}
                  <!-- Back to Event Homepage -->
                  <div class="stand-category-v2-fixed">
                    <a class="" href='{{ .Permalink }}'>
                        {{ with .Resources.GetMatch "preview"}}
                          <img alt="{{ .Title }}"
                                  src="{{ .Permalink }}"/>
                        {{ end }}
                        <p><span class="back-btn" aria-hidden="true"></span> Terug naar {{ .Title }}</p>
                    </a>
                  </div>
                {{ end }}
              </div>
            </div>
            <div id="stand-category-title" class="row">
              <h3>Meer {{ .Title }}</h3>
            </div>
            <div class="row">
              <ul class=" col-sm">
                <!-- Calculate the number of items that fit in each of the three rows -->
                {{ $numItemsPerColumn := math.Ceil (div (len .Pages) 3.0) }}
                {{ range $i, $e := .Pages }}
                  <!-- if (i != 0) and (i % NumItemsPerColumn) == 0 -->
                  {{ if and (ne $i 0) (modBool $i $numItemsPerColumn) }}
                    </ul>
                    <ul class=" col-sm">
                  {{ end }}
                  <li class="stand-element">
                    {{- partial "event/stand-item.html" (dict "context" . "disabled" (eq .Permalink $.Permalink)) -}}
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        {{ end }}
    </div>
{{ end }}

{{ define "main" }}
  <!-- Carousel for certain set of images -->
  {{ with .Page.Resources.Match "carousel/*" }}
    <div id="carouselStand" class="carousel slide" data-bs-ride="carousel" data-bs-pause="hover">
      <div class="carousel-indicators">
          {{ range $i, $e := . }}
            <button type="button" data-bs-target="#carouselStand" data-bs-slide-to="{{$i}}" aria-label="Slide {{add $i 1}}" class="{{ if eq $i 0}}active{{ end }}"></button>
          {{ end }}
      </div>
      <div class="carousel-inner" role="listbox">
        {{ range $i, $e := . }}
          <div class="carousel-item {{ if eq $i 0}}active{{ end }}">
            <img src="{{ .Permalink }}" class="d-block" alt="{{ .Title }}">
          </div>
        {{ end }}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselStand" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselStand" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  {{ end }}

  <!-- List page-specific content -->
  {{ .Content }}
{{ end }}
